<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hualuomoli.core.test.mapper.IDemoMapper">
    
	<select id="findList" resultType="com.github.hualuomoli.core.test.entity.Demo">
		select 
			id 		as "id",
			email 	as "email",
			age		as "age",
			sex		as "sex"
		from demo t
		<where>
			<if test="id != null and id != ''">
				and t.id=#{id} 
			</if>
			<if test="email != null and email != ''">
				and t.email=#{email} 
			</if>
			<if test="age != null">
				and t.age=#{age} 
			</if>
			<if test="sex != null and sex != ''">
				and t.sex=#{sex} 
			</if>
		</where>
	</select>
	
</mapper>